
.Checkout {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 7% 4% 2% 4%;
    margin-top: 10px;
}
h1 {
    display: block;
    margin-top: 0;
}

.Checkout-child {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    min-width: 300px;
    min-height: 420px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    h2 {
        padding: 5%; 
    }
    button {
        width: 68%;
    }
}

#Confirm-Box {
    min-width: 80%;
    padding: 15%;
    padding-top: 0;
    h2 {
        padding-top: 0;
    }

}


/***** order info *****/
        
.Order-row {
    display: flex;
    flex-direction: row;
    padding: 2%;
    border-bottom: 2px solid whitesmoke;  
    max-width: 98%;

    img {
        max-width: 100px;
    }
    span {
        margin: auto auto auto 0; 
    }
    i {
        margin-left: auto;
        margin-top: -10px;
    }
}

.Tot-price {
    text-align: right;
    max-width: 96%;
}

/***** customer form *****/
form {
    padding: 2%;
    margin: 2%;
    label {
        display: block;
        text-align: left;
    }
    input {
        padding: 2px;
        margin: 4px;     
    }
    input[type=text] {
        padding: 8px; 
        width: 100%;
    }
    input[type=submit] {
    width: 68%;
    }
}
