
#Products {
    /* min-height: 100vh; */
    padding: 2%; 
    font-size: calc(6px + 1.2vmin);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
.Prod-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: calc(30% - 20px);  
    min-width: 300px;
    padding: 1%;
    margin: 2%;
    
    border-radius: 5px;
    border: 2px solid whitesmoke;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    img {
      max-width: 100%;
      height: auto;
    }
    button{
      margin-bottom: 10px;
      width: 70%;
    }

  }

  // .Prod-item:hover {
  //   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  // }
