* {
  box-sizing: border-box;
}
.App {
  /* margin: auto; */
  text-align: center;
  color: #282c34; 
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: white; */
  
}

nav, footer {
  display: flex;
  justify-content: space-between;
  /* margin: 1px;  */
  padding: 3% 5%; 
  font-style: italic;
} 

nav div ul, footer {
  margin-top: 0;
  font-style: italic;
  list-style: none;
}
.Container { 
  margin-top: 40px;
  padding-top: 5%;  
}
h1 {
  margin-top: auto;
}

button, input[type=submit] {
  border-radius: 8px;
  color: whitesmoke;
  background: #282c34;
  padding: 13px 28px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  /* text-align: center; */
  
  /* width: 90%; */
  /* border: 0px;
  box-shadow: none ;
  transform: none ; */
}

button:hover, input[type=submit]:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

/* #Prod-container { 
  margin-top: 40px;
  padding-top: 5%;

}
.List-container {
  padding: 2%; 
  font-size: calc(6px + 1.2vmin);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Prod-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(30% - 20px);  
  min-width: 270px;
  padding: 0.7%;
  border: 2px solid whitesmoke;
  margin: 2%;
} */

/* .Prod-bottom {
  align-items: flex-end;
  bottom: 2%;
}
 */
/* .Prod-descr {
  height: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
} */



/* img {
  max-width: 100%;
  height: auto;
} */


/* #Checkout {
  justify-content: space-evenly;
  padding: 7%;
  margin: 2%;
}

.Checkout-children {
  min-width: 350px;
  max-width: 600px;

}

.Order-row {
  display: flex;
  flex-direction: row;
  padding: 2%;
  border-bottom: 2px solid whitesmoke;
}

.Order-row img {
  max-width: 100px;
}

#Tot-price {
  text-align: right;
} */

/* form {
  padding: 2%;
  margin: 2%;
  min-width: 200px;
}

input {
  padding: 2px;
  margin: 4px;
} */


/**********************/

/* a span {
  color: #282c34;
} */


/**********************/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
