* {
  box-sizing: border-box;
}
.App {
  /* margin: auto; */
  text-align: center;
  color: #282c34; 
}

nav, footer {
  display: flex;
  justify-content: space-between;
  padding: 5%; 
}

nav div ul, footer {
  margin-top: 0;
  font-style: italic;
  list-style: none;
}

.Prod-container {
  min-height: 100vh;
  padding: 5%; 
  font-size: calc(6px + 1.7vmin);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Prod-item {
  max-width: calc(30% - 20px);  
  padding: 2%;
  border: 1px solid whitesmoke;
}

p {
  text-overflow: ellipsis;
}

img{
  max-width: 100%;
  height: auto;
}

button {
  border-radius: 10px;
  color: whitesmoke;
  background: #282c34;
  width: 90%;
  padding: 13px 28px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: 0px;
  box-shadow: none ;
  transform: none ;
}



/**********************/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
